@font-face {
  font-family: "fonteh1";
  src: url(../Fonts/mont/Mont-HeavyDEMO.otf);
}

main svg {
  z-index: -1;
  position: absolute;
  margin-left: 295px;
  margin-top: -25px;
}

main img {
  width: 500px;
  height: 600px;
}

.titlemain {
  width: 500px;
  font-family: "fonteh1";
  color: black;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 900;
  line-height: 70px
}

main button{
  border-radius: 30px;
  cursor: pointer;
  width: 180px;
  height: 70px;
}

.btn-started {
  background-color: rgb(214, 80, 80);
  color: white;
  border: none;
}

.btn-hireus{
  background-color: rgb(255, 255, 255);
  color: rgb(255, 0, 0);
  border: none;
}

.btn-started:hover {
  font-weight: bolder;
  background-color: red;
  transition: 1s;
}

.btn-hireus:hover {
  font-weight: bolder;
  background-color: white;
  transition: 1s;
}

#home{
  gap: 200px;
  max-width: 1240px;
  margin: auto;
  display: flex;
  margin-top: 60px;
  justify-content: center;
}

.wrap-buttons {
  display: flex;
  gap: 11px;
}